.search {
    padding-bottom: 2rem;
}

.search-input {
  width: 93%;
  margin: 8px 0;
  margin-right: 2%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-input-second {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-button {
  padding: 12px 20px;
  background-color: #6FA8DC;
  border: none;
  cursor: pointer;
  width: 5%;
}